
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Continue</title>
</head>
<body>
    <div> 
        <h3>  Move on to User Side</h3>
    </div>
</body>
</html>
