@using Final_Project.Models;
@{
    ViewBag.Title = "AssignS_Subjects";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    List<subject> subs = (List<subject>)Session["subss"];
}

<h2>Assign_Subjects</h2>


<div class="col-xl-6">
    <!-- Block Buttons -->
    <div class="widget has-shadow">
        <div class="widget-header bordered no-actions d-flex align-items-center">
            <h4>Assign Subjects</h4>
        </div>
        @foreach (subject sub in subs)
        {
            int subid = sub.Subj_ID;

            <div class="widget-body">
                <div class="row">
                    <div class="col-xl-6 center">
                        <button class="btn btn-primary btn-square mb-2" type="button" onclick="location.href='@Url.Action("AssignSubjectx", "Admin", new { s_id = subid})'">@sub.Subj_name </button>
                    </div>
                </div>
            </div>
        }

        <!-- End Block Buttons -->
    </div>

